<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">Bucket Brigade</a>
    <nav aria-label="Primary navigation">
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/eye-yay">Eye Yay</a></li>
        <li><a href="/synthgarage">Synthgarage</a></li>
      </ul>
    </nav>
  </div>
</header>
